{{ define "main" }} {{ $section := .Site.GetPage "section" .Section }}

<section class="block">
  <div class="container">
    <h1 class="h2">{{ .Params.about.title }}</h1>

    {{ partial "bodyMarkdown.html" .Params.about.body }}
    
    {{ range first 2 .Pages }}
    <div class="card-story card-stroy-witharrow">
      <h3 class="card-story-title">{{ .Params.summary.heading }}</h3>
      <div class="card-story-image aspect aspect-5by2 bg-rc-spark">
        <img alt="" src="{{ .Params.summary.image }}">
      </div>
      <a class="card-story-cta" href="{{ .Permalink }}">{{ .Params.summary.text }}</a>
    </div>
    {{ end }}
  </div>
</section>

{{ end }}
