{{ define "main" }} {{ $section := .Site.GetPage "section" .Section }}

<section class="block">
  <div class="container">
    <h1 class="h2">{{ .Params.about.title }}</h1>

    {{ partial "bodyMarkdown.html" .Params.about.body }}

    <ul class="card-list card-list--2-col">
      {{ range .Pages }}
      <li class="card">
        <a class="card__container" href="{{ .Permalink }}" style="background-image: url({{ .Params.summary.image }})">
          <h3 class="card__title">{{ .Params.summary.heading }}</h3>
        </a>
      </li>
      {{ end }}
    </ul>
</section>

{{ end }}
