backend:
  name: git-gateway
  branch: master

media_folder: "site/static/assets/uploads"
public_folder: "assets/uploads"

collections:
  - name: "pages"
    label: "Pages"
    editor:
      preview: false
    files:
      - file: "site/content/_index.md"
        label: "Home"
        name: "home"
        fields:
          - {label: "Title", name: "title", widget: "string"}
          - {label: "Header", name: "hero", widget: "object", fields: [
              {label: "Small text", name: "titleSmall", widget: "text", required: true},
              {label: "Gold first text", name: "titleBigFirst", widget: "text", required: true},
              {label: "White second text", name: "titleBigSecond", widget: "text", required: true},
              {label: "Body Text", name: "body", widget: "markdown", required: false}
            ]}
          - {label: "Body", name: "about", widget: "object", fields: [
              {label: "Title", name: "title", widget: "string"},
              {label: "Body", name: "body", widget: "markdown"}
            ]}
      
      - file: "site/content/action-groups/_index.md"
        label: "Action Groups"
        name: "action-groups"
        fields:
          - {label: "Title", name: "title", widget: "string"}
          - {label: "Main", name: "about", widget: "object", fields: [
              {label: "Title", name: "title", widget: "string"},
              {label: "Body", name: "body", widget: "markdown"}
            ]}
      
      - file: "site/content/news/_index.md"
        label: "News"
        name: "news"
        fields:
          - {label: "Title", name: "title", widget: "string"}
          - {label: "Main", name: "about", widget: "object", fields: [
              {label: "Title", name: "title", widget: "string"},
              {label: "Body", name: "body", widget: "markdown"}
            ]}
  - name: "action-groups"
    label: "Action Group"
    editor:
      preview: false
    folder: "site/content/action-groups"
    create: true
    filter: {field: "action-group", value: "yes"}
    fields:
      - {label: "Action Group", name: "action-group", widget: "hidden", default: "yes"}
      - {label: "Title", name: "title", widget: "string"}
      - {label: "Summary (Card on Home and Action Groups)", name: "summary", widget: "object", fields: [
          {label: "Heading", name: "heading", widget: "string"},
          {label: "Text", name: "text", widget: "string"}
        ]}
      - {label: "Content", name: "main", widget: "object", fields: [
          {label: "Title", name: "title", widget: "string"},
          {label: "Body", name: "body", widget: "markdown"}
        ]}
  - name: "news"
    label: "News"
    editor:
      preview: false
    folder: "site/content/news"
    create: true
    filter: {field: "news", value: "yes"}
    fields:
      - {label: "News", name: "news", widget: "hidden", default: "yes"}
      - {label: "Title", name: "title", widget: "string"}
      - {label: "Summary (Card on Home and News)", name: "summary", widget: "object", fields: [
          {label: "Heading", name: "heading", widget: "string"},
          {label: "Text", name: "text", widget: "string"}
        ]}
      - {label: "Content", name: "main", widget: "object", fields: [
          {label: "Title", name: "title", widget: "string"},
          {label: "Body", name: "body", widget: "markdown"}
        ]}
  - name: "global"
    label: "Global"
    editor:
      preview: false
    files:
      - file: "site/content/global/_footer.md"
        label: "Footer"
        name: "footer"
        fields:
          - {label: "Copyright", name: "copyright", widget: "string"}
          - {label: "Email address", name: "email", widget: "string"}
          - {label: "Twitter URL", name: "twitter", widget: "string"}
          - {label: "Facebook URL", name: "facebook", widget: "string"}
