/*! normalize-scss | MIT/GPLv2 License | bit.ly/normalize-scss */
/* Document
       ========================================================================== */
/**
     * 1. Correct the line height in all browsers.
     * 2. Prevent adjustments of font size after orientation changes in
     *    IE on Windows Phone and in iOS.
     */
html {
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
       ========================================================================== */
/**
     * Remove the margin in all browsers (opinionated).
     */
body {
  margin: 0; }

/**
     * Add the correct display in IE 9-.
     */
article,
aside,
footer,
header,
nav,
section {
  display: block; }

/**
     * Correct the font size and margin on `h1` elements within `section` and
     * `article` contexts in Chrome, Firefox, and Safari.
     */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
       ========================================================================== */
/**
     * Add the correct display in IE 9-.
     */
figcaption,
figure {
  display: block; }

/**
     * Add the correct margin in IE 8.
     */
figure {
  margin: 1em 40px; }

/**
     * 1. Add the correct box sizing in Firefox.
     * 2. Show the overflow in Edge and IE.
     */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
     * Add the correct display in IE.
     */
main {
  display: block; }

/**
     * 1. Correct the inheritance and scaling of font size in all browsers.
     * 2. Correct the odd `em` font sizing in all browsers.
     */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Links
       ========================================================================== */
/**
     * 1. Remove the gray background on active links in IE 10.
     * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
     */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

/* Text-level semantics
       ========================================================================== */
/**
     * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
     * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
     */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
     * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
     */
b,
strong {
  font-weight: inherit; }

/**
     * Add the correct font weight in Chrome, Edge, and Safari.
     */
b,
strong {
  font-weight: bolder; }

/**
     * 1. Correct the inheritance and scaling of font size in all browsers.
     * 2. Correct the odd `em` font sizing in all browsers.
     */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
     * Add the correct font style in Android 4.3-.
     */
dfn {
  font-style: italic; }

/**
     * Add the correct background and color in IE 9-.
     */
mark {
  background-color: #ff0;
  color: #000; }

/**
     * Add the correct font size in all browsers.
     */
small {
  font-size: 80%; }

/**
     * Prevent `sub` and `sup` elements from affecting the line height in
     * all browsers.
     */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
       ========================================================================== */
/**
     * Add the correct display in IE 9-.
     */
audio,
video {
  display: inline-block; }

/**
     * Add the correct display in iOS 4-7.
     */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
     * Remove the border on images inside links in IE 10-.
     */
img {
  border-style: none; }

/**
     * Hide the overflow in IE.
     */
svg:not(:root) {
  overflow: hidden; }

/* Forms
       ========================================================================== */
/**
     * 1. Change the font styles in all browsers (opinionated).
     * 2. Remove the margin in Firefox and Safari.
     */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
     * Show the overflow in IE.
     */
button {
  overflow: visible; }

/**
     * Remove the inheritance of text transform in Edge, Firefox, and IE.
     * 1. Remove the inheritance of text transform in Firefox.
     */
button,
select {
  /* 1 */
  text-transform: none; }

/**
     * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
     *    controls in Android 4.
     * 2. Correct the inability to style clickable types in iOS and Safari.
     */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

button,
[type="button"],
[type="reset"],
[type="submit"] {
  /**
       * Remove the inner border and padding in Firefox.
       */
  /**
       * Restore the focus styles unset by the previous rule.
       */ }
  button::-moz-focus-inner,
  [type="button"]::-moz-focus-inner,
  [type="reset"]::-moz-focus-inner,
  [type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0; }
  button:-moz-focusring,
  [type="button"]:-moz-focusring,
  [type="reset"]:-moz-focusring,
  [type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText; }

/**
     * Show the overflow in Edge.
     */
input {
  overflow: visible; }

/**
     * 1. Add the correct box sizing in IE 10-.
     * 2. Remove the padding in IE 10-.
     */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
     * Correct the cursor style of increment and decrement buttons in Chrome.
     */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
     * 1. Correct the odd appearance in Chrome and Safari.
     * 2. Correct the outline style in Safari.
     */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
  /**
       * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
       */ }
  [type="search"]::-webkit-search-cancel-button, [type="search"]::-webkit-search-decoration {
    -webkit-appearance: none; }

/**
     * 1. Correct the inability to style clickable types in iOS and Safari.
     * 2. Change font properties to `inherit` in Safari.
     */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/**
     * Correct the padding in Firefox.
     */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
     * 1. Correct the text wrapping in Edge and IE.
     * 2. Correct the color inheritance from `fieldset` elements in IE.
     * 3. Remove the padding so developers are not caught out when they zero out
     *    `fieldset` elements in all browsers.
     */
legend {
  box-sizing: border-box;
  /* 1 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  color: inherit;
  /* 2 */
  white-space: normal;
  /* 1 */ }

/**
     * 1. Add the correct display in IE 9-.
     * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
     */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
     * Remove the default vertical scrollbar in IE.
     */
textarea {
  overflow: auto; }

/* Interactive
       ========================================================================== */
/*
     * Add the correct display in Edge, IE, and Firefox.
     */
details {
  display: block; }

/*
     * Add the correct display in all browsers.
     */
summary {
  display: list-item; }

/*
     * Add the correct display in IE 9-.
     */
menu {
  display: block; }

/* Scripting
       ========================================================================== */
/**
     * Add the correct display in IE 9-.
     */
canvas {
  display: inline-block; }

/**
     * Add the correct display in IE.
     */
template {
  display: none; }

/* Hidden
       ========================================================================== */
/**
     * Add the correct display in IE 10-.
     */
[hidden] {
  display: none; }

body {
  background: white; }

/*! Generated by Font Squirrel (https://www.fontsquirrel.com) on March 23, 2019 */
@font-face {
  font-family: "forumregular";
  src: url("/fonts/forum-regular-webfont.woff2") format("woff2"), url("/fonts/forum-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "open_sansregular";
  src: url("/fonts/OpenSans-Regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

body {
  color: #333333;
  font-family: "open_sansregular", Arial, Sans-Serif;
  font-size: 14px;
  line-height: 1.4; }

.sr-only, .footer__link-label {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0; }

h1,
h2,
h3 {
  font-family: "forumregular", sans-serif;
  font-weight: 200;
  margin: 10px 0;
  text-transform: uppercase; }
  h1 a,
  h2 a,
  h3 a {
    text-decoration: none; }

h1 {
  font-size: 48px; }

h2,
.h2 {
  font-size: 36px;
  border-bottom: 2px #C09A5D solid; }

h3,
.h3 {
  font-size: 24px;
  border-bottom: 2px #C09A5D solid; }

a {
  color: #C09A5D; }
  a:hover {
    color: #846533; }

a {
  text-decoration: none; }

.header:before, .header:after {
  display: table;
  content: ' '; }

.header:after {
  clear: both; }

.header__link {
  text-decoration: none; }

.header__logo {
  float: left;
  margin-right: 10px; }

.header__title {
  font-size: 24px;
  margin-left: 38px;
  text-decoration: none !important; }

.header__title-first {
  color: #C09A5D;
  text-decoration: none !important; }

.header__title-second {
  text-decoration: none !important; }

.header__wave {
  background: url(/assets/images/wave-1200x140.png) repeat-x top center;
  background-size: 100%;
  width: 150%;
  height: 140px;
  position: absolute; }
  @media (min-width: 46.25em) {
    .header__wave {
      background-size: auto; } }

.container {
  max-width: 840px;
  margin: 0 auto;
  padding: 10px; }
  @media (min-width: 61.25em) {
    .container {
      padding: 20px; } }
  .header .container {
    padding-bottom: 0px; }
    @media (min-width: 46.25em) {
      .header .container {
        padding-bottom: 5px; } }

.block {
  position: relative;
  margin: 0 0 20px 0; }
  .block:before, .block:after {
    display: table;
    content: ' '; }
  .block:after {
    clear: both; }

.footer {
  background: black;
  color: white;
  padding: 10px; }
  .footer:before, .footer:after {
    display: table;
    content: ' '; }
  .footer:after {
    clear: both; }

.footer__link-anchor {
  margin: 0;
  float: left;
  margin-right: 1em; }
  .footer__link-anchor::after {
    content: "|";
    padding-left: 1em; }
  .footer__link-anchor:last-child::after {
    content: none; }

.btns {
  display: flex; }

.btn {
  flex-grow: 1;
  flex-basis: 0;
  display: block;
  border-radius: 30px;
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.25);
  text-align: center;
  text-decoration: none;
  padding: 15px;
  margin-bottom: 10px;
  margin-right: 10px;
  font-weight: bold; }
  .btn:last-child {
    margin-right: 0; }

.card-list {
  margin: 15px 0;
  padding: 0; }
  .card-list:before, .card-list:after {
    display: table;
    content: ' '; }
  .card-list:after {
    clear: both; }

.card {
  display: block;
  text-decoration: none;
  margin-bottom: 15px;
  box-sizing: border-box; }
  @media (min-width: 61.25em) {
    .card-list--2-col .card {
      float: left;
      width: 50%;
      padding-right: 15px; }
      .card-list--2-col .card:nth-child(2n) {
        padding-right: 0px; } }

.card__container {
  display: block;
  border-radius: 10px;
  border: 2px solid #CD1719;
  padding: 10px;
  height: 200px; }

.column {
  box-sizing: border-box; }
  @media (min-width: 46.25em) {
    .column--2-col {
      width: 50%;
      float: left;
      padding: 0 10px; }
      .column--2-col:first-child, .column--2-col:last-child {
        padding-left: 0; } }

.home-hero {
  background-color: black;
  background-position: center;
  color: white;
  min-height: 600px;
  max-height: 100vh;
  display: flex;
  align-items: flex-end; }

.home-hero__content {
  width: 100%;
  background: rgba(0, 0, 0, 0.7); }

.home-hero__title {
  border-bottom: 2px #C09A5D solid; }

.home-hero__title-small {
  font-size: 24px;
  display: block; }

.home-hero__title-big--first {
  color: #C09A5D; }
