$card-spacing: 15px;

.card-list {
  margin: $card-spacing 0;
  padding: 0;
  @include cf();
}

.card {
  display: block;
  text-decoration: none;
  margin-bottom: $card-spacing;
  box-sizing: border-box;

  .card-list--2-col & {
    @include mq($from: xs) {
      float: left;
      width: 50%;
      padding-right: $card-spacing;

      &:nth-child(2n) {
        padding-right: 0px;
      }
    }
  }
}

.card__container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border-radius: 10px;
  border: 2px solid $cas-red;
  padding: 10px;
  height: 200px;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: top;

  .card-list--2-col & {
    @include mq($from: xs) {

    }
  }
}

.card__title {
  color: white;
  text-shadow: 2px 2px 2px black;
}

.column {
  box-sizing: border-box;

  &--2-col {
    @include mq($from: xs) {
      width: 50%;
      float: left;
      padding: 0 10px;

      &:first-child,
      &:last-child {
        padding-left: 0;
      }
    }
  }
}
