.container {
  max-width: $page-width;
  margin: 0 auto;
  padding: 10px;

  @include mq($from: desktop) {
    padding: 20px;
  }

  .header & {
    padding-bottom: 0px;

    @include mq($from: tablet) {
      padding-bottom: 5px;
    }
  }
}
