.header {
  @include cf();
}

.header__link {
  text-decoration: none;
}

.header__logo {
  float: left;
  margin-right: 10px;
}

.header__title {
  font-size: 24px;
  margin-left: 38px;
  text-decoration: none!important;
}

.header__title-first {
  color: $cas-gold;
  text-decoration: none!important;
}

.header__title-second {
  text-decoration: none!important;
}

.header__wave {
  background: url(/assets/images/wave-1200x140.png) repeat-x top left;
  background-size: 100%;
  width: 150%;
  height: 140px;
  position: absolute;

  & + .block {
    margin-top: 60px;

    @include mq($from: s) {
      margin-top: 120px;
    }
  
    @include mq($from: m) {
      margin-top: 160px;
    }
  }

  @include mq($from: s) {
    background-size: auto;
  }

  @include mq($from: m) {
    background-position-x: 20%;
  }
}
