.home-hero {
  background-color: black;
  background-position: center;
  color: white;
  min-height: 400px;
  max-height: 100vh;
  display: flex;
  align-items: flex-end;
}

.home-hero__content {
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
}

.home-hero__title {
  border-bottom: 2px $cas-gold solid;
}

.home-hero__title-small {
  font-size: 24px;
  display: block;
}

.home-hero__title-big {
  &--first {
    color: $cas-gold;
  }
}
