{{ define "main" }}

<section class="home-hero" style="background-image: url({{ .Params.hero.background }})">
  <div class="container">
    <h1 class="home-hero__title">
      <span class="home-hero__title-small">{{ .Params.hero.titleSmall }}</span>
      <span class="home-hero__title-big home-hero__title-big--first">{{ .Params.hero.titleBigFirst }}</span>
      <span class="home-hero__title-big home-hero__title-big--second">{{ .Params.hero.titleBigSecond }}</span>
    </h1>
    {{ partial "bodyMarkdown.html" .Params.hero.body }}
  </div>
</section>

<section class="block">
  <div class="container">
    <h1 class="h2">{{ .Params.about.title }}</h1>
    {{ partial "bodyMarkdown.html" .Params.about.body }}
  </div>
</section>

{{ end }}
